/* -------------------- FLexbox image gallery -------------------- */

/* ------------------------------------------------------------
  Global styles
------------------------------------------------------------ */  
body {
  font: normal 100% 'Roboto', sans-serif;
  background-image: linear-gradient(-225deg, #e8198b 0%, #c7eafd 100%);
}

.wrapper {
  width: 100%;
  height: 100vh;
}

/* ------------------------------------------------------------
  Gallery styles
------------------------------------------------------------ */

/* ------------------------------------------------------------
  Media queries
------------------------------------------------------------ */