/* -------------------- FLexbox image gallery -------------------- */

/* ------------------------------------------------------------
  Global styles
------------------------------------------------------------ */  
body {
  font: 400 100% 'Lato', sans-serif;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  color: black;
  letter-spacing: 0.05em;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* ------------------------------------------------------------
  Gallery styles
------------------------------------------------------------ */
.flexImage-gallery {
  width: 100%;
  max-width: 1300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.flexImage-gallery__heading {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-shadow: 0 10px 10px rgba(255, 255, 255, 0.5);
}

.flexImage-gallery__description {
  font-size: 1.1rem;
  padding: 1em; 
}

main {
  display: flex;
  margin: 2em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1em;
  position: relative;
}

.flexImage-gallery__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.flexImage-gallery__item {
  flex: 1 0 33.3%;
}

.flexImage-gallery__item img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.5s ease;
  cursor: pointer;
  transform-origin: center;
}

.flexImage-gallery__list .flexImage-gallery__item:nth-child(7) img {
  transform-origin: bottom left;
}

.flexImage-gallery__list .flexImage-gallery__item:nth-child(3) img {
  transform-origin: top right;
}

.flexImage-gallery__list .flexImage-gallery__item:first-child img {
  transform-origin: top left;
}

.flexImage-gallery__list .flexImage-gallery__item:last-child img {
  transform-origin: bottom right;
}

.flexImage-gallery__item img:hover {
  transform: scale(3);
  box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.3);
}

/* ------------------------------------------------------------
  Media queries
------------------------------------------------------------ */